* {
    margin: 0;
    padding: 0;
}

#container {
    background-color: cadetblue;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    width: 60%;
    line-height: 30px;
}

#appd {
    background-color: brown;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}